In [1]:
%load_ext autoreload
%autoreload 2
import os
import glob
import h5py
import numpy as np
from IPython.display import display
import torch
import torch.nn as nn
from torchvision import transforms
from torch.utils.data import DataLoader
import wandb

from dl_utils.utils.dataset import split_train_valid, viz_dataloader, hdf5_dataset
from dl_utils.utils.utils import list_to_dict, find_last_epoch_file, sort_tasks_by_size

from dl_utils.training.build_model import resnet50_, fpn_resnet50_classification, xcit_small
from dl_utils.training.train_functions import train_epochs
from dl_utils.analysis.confusion_matrix import confusion_matrix, plot_cm
from dl_utils.packed_functions import generate_confusion_matrix_batch_full_val_set

/mnt/scratch/home/yichen/anaconda3/envs/symmetry/lib/python3.11/site-packages/tqdm/auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

## ResNet 50

In [2]:
task_orders = ['10m', '1k', '5k', '10k', '50k', '100k', '500k', '1m', '2m', '5m', ]
ds_size_list = [10000000, 1000, 5000, 10000, 50000, 100000, 500000, 1000000, 2000000, 5000000]
model_path_list = sort_tasks_by_size(glob.glob('../../../models/ResNet50/*'), task_orders)
print(model_path_list)

ds_path_info = {'imagenet': '../../../datasets/imagenet_v5_rot_10m_fix_vector.h5',
                'noise': '../../../datasets/noise_v5_rot_1m_fix_vector.h5',
                'atom': '../../../datasets/atom_v5_rot_1m_fix_vector.h5'}
running_specs = {'batch_size': 3500, 
                'num_workers': 12, 
                'save_path': '../../../results/ResNet50/',
                'device_ids': [5]}

['../../../models/ResNet50/03132025-ResNet50-benchmark-10m', '../../../models/ResNet50/03132025-ResNet50-benchmark-1k', '../../../models/ResNet50/03132025-ResNet50-benchmark-5k', '../../../models/ResNet50/03132025-ResNet50-benchmark-10k', '../../../models/ResNet50/03132025-ResNet50-benchmark-50k', '../../../models/ResNet50/03132025-ResNet50-benchmark-100k', '../../../models/ResNet50/03132025-ResNet50-benchmark-500k', '../../../models/ResNet50/03132025-ResNet50-benchmark-1m', '../../../models/ResNet50/03132025-ResNet50-benchmark-2m', '../../../models/ResNet50/03132025-ResNet50-benchmark-5m']

### only do the cross-validation on the full set

In [3]:
model = resnet50_(3, 17)
stats = generate_confusion_matrix_batch_full_val_set(model, model_path_list, ds_size_list, ds_path_info, running_specs)

Running on cuda:5
Loading model from ../../../models/ResNet50/03132025-ResNet50-benchmark-10m/epoch_23.pth
Confusion Matrix for 03132025-ResNet50-benchmark-10m:

100%|█████████████████████████████████████████████████████████████████████████████████| 287/287 [13:41<00:00,  2.86s/it]

Sum for true labels:

,p1,p2,pm,pg,cm,pmm,pmg,pgg,cmm,p4,p4m,p4g,p3,p3m1,p31m,p6,p6m
0,58900.0,58900.0,58900.0,58900.0,58900.0,58900.0,58900.0,58900.0,58900.0,58900.0,58900.0,58900.0,58900.0,58900.0,58900.0,58900.0,58900.0

Accuracy for these batches: 88.38%

100%|█████████████████████████████████████████████████████████████████████████████████| 287/287 [13:53<00:00,  2.90s/it]

Sum for true labels:

,p1,p2,pm,pg,cm,pmm,pmg,pgg,cmm,p4,p4m,p4g,p3,p3m1,p31m,p6,p6m
0,58900.0,58900.0,58900.0,58900.0,58900.0,58900.0,58900.0,58900.0,58900.0,58900.0,58900.0,58900.0,58900.0,58900.0,58900.0,58900.0,58900.0

Accuracy for these batches: 96.19%
Loading model from ../../../models/ResNet50/03132025-ResNet50-benchmark-1k/epoch_200000.pth
Confusion Matrix for 03132025-ResNet50-benchmark-1k:

100%|█████████████████████████████████████████████████████████████████████████████████| 287/287 [13:48<00:00,  2.89s/it]

Sum for true labels:

,p1,p2,pm,pg,cm,pmm,pmg,pgg,cmm,p4,p4m,p4g,p3,p3m1,p31m,p6,p6m
0,58900.0,58900.0,58900.0,58900.0,58900.0,58900.0,58900.0,58900.0,58900.0,58900.0,58900.0,58900.0,58900.0,58900.0,58900.0,58900.0,58900.0

Accuracy for these batches: 10.47%

100%|█████████████████████████████████████████████████████████████████████████████████| 287/287 [14:18<00:00,  2.99s/it]

Sum for true labels:

,p1,p2,pm,pg,cm,pmm,pmg,pgg,cmm,p4,p4m,p4g,p3,p3m1,p31m,p6,p6m
0,58900.0,58900.0,58900.0,58900.0,58900.0,58900.0,58900.0,58900.0,58900.0,58900.0,58900.0,58900.0,58900.0,58900.0,58900.0,58900.0,58900.0

Accuracy for these batches: 8.68%
Loading model from ../../../models/ResNet50/03132025-ResNet50-benchmark-5k/epoch_40000.pth
Confusion Matrix for 03132025-ResNet50-benchmark-5k:

100%|█████████████████████████████████████████████████████████████████████████████████| 287/287 [13:53<00:00,  2.90s/it]

Sum for true labels:

,p1,p2,pm,pg,cm,pmm,pmg,pgg,cmm,p4,p4m,p4g,p3,p3m1,p31m,p6,p6m
0,58900.0,58900.0,58900.0,58900.0,58900.0,58900.0,58900.0,58900.0,58900.0,58900.0,58900.0,58900.0,58900.0,58900.0,58900.0,58900.0,58900.0

Accuracy for these batches: 35.31%

100%|█████████████████████████████████████████████████████████████████████████████████| 287/287 [13:37<00:00,  2.85s/it]

Sum for true labels:

,p1,p2,pm,pg,cm,pmm,pmg,pgg,cmm,p4,p4m,p4g,p3,p3m1,p31m,p6,p6m
0,58900.0,58900.0,58900.0,58900.0,58900.0,58900.0,58900.0,58900.0,58900.0,58900.0,58900.0,58900.0,58900.0,58900.0,58900.0,58900.0,58900.0

Accuracy for these batches: 35.23%
Loading model from ../../../models/ResNet50/03132025-ResNet50-benchmark-10k/epoch_15300.pth
Confusion Matrix for 03132025-ResNet50-benchmark-10k:

100%|█████████████████████████████████████████████████████████████████████████████████| 287/287 [13:32<00:00,  2.83s/it]

Sum for true labels:

,p1,p2,pm,pg,cm,pmm,pmg,pgg,cmm,p4,p4m,p4g,p3,p3m1,p31m,p6,p6m
0,58900.0,58900.0,58900.0,58900.0,58900.0,58900.0,58900.0,58900.0,58900.0,58900.0,58900.0,58900.0,58900.0,58900.0,58900.0,58900.0,58900.0

Accuracy for these batches: 40.70%

100%|█████████████████████████████████████████████████████████████████████████████████| 287/287 [13:07<00:00,  2.74s/it]

Sum for true labels:

,p1,p2,pm,pg,cm,pmm,pmg,pgg,cmm,p4,p4m,p4g,p3,p3m1,p31m,p6,p6m
0,58900.0,58900.0,58900.0,58900.0,58900.0,58900.0,58900.0,58900.0,58900.0,58900.0,58900.0,58900.0,58900.0,58900.0,58900.0,58900.0,58900.0

Accuracy for these batches: 37.58%
Loading model from ../../../models/ResNet50/03132025-ResNet50-benchmark-50k/epoch_4000.pth
Confusion Matrix for 03132025-ResNet50-benchmark-50k:

100%|█████████████████████████████████████████████████████████████████████████████████| 287/287 [12:20<00:00,  2.58s/it]

Sum for true labels:

,p1,p2,pm,pg,cm,pmm,pmg,pgg,cmm,p4,p4m,p4g,p3,p3m1,p31m,p6,p6m
0,58900.0,58900.0,58900.0,58900.0,58900.0,58900.0,58900.0,58900.0,58900.0,58900.0,58900.0,58900.0,58900.0,58900.0,58900.0,58900.0,58900.0

Accuracy for these batches: 38.72%

100%|█████████████████████████████████████████████████████████████████████████████████| 287/287 [12:33<00:00,  2.63s/it]

Sum for true labels:

,p1,p2,pm,pg,cm,pmm,pmg,pgg,cmm,p4,p4m,p4g,p3,p3m1,p31m,p6,p6m
0,58900.0,58900.0,58900.0,58900.0,58900.0,58900.0,58900.0,58900.0,58900.0,58900.0,58900.0,58900.0,58900.0,58900.0,58900.0,58900.0,58900.0

Accuracy for these batches: 59.17%
Loading model from ../../../models/ResNet50/03132025-ResNet50-benchmark-100k/epoch_1530.pth
Confusion Matrix for 03132025-ResNet50-benchmark-100k:

100%|█████████████████████████████████████████████████████████████████████████████████| 287/287 [12:22<00:00,  2.59s/it]

Sum for true labels:

,p1,p2,pm,pg,cm,pmm,pmg,pgg,cmm,p4,p4m,p4g,p3,p3m1,p31m,p6,p6m
0,58900.0,58900.0,58900.0,58900.0,58900.0,58900.0,58900.0,58900.0,58900.0,58900.0,58900.0,58900.0,58900.0,58900.0,58900.0,58900.0,58900.0

Accuracy for these batches: 43.86%

100%|█████████████████████████████████████████████████████████████████████████████████| 287/287 [12:41<00:00,  2.65s/it]

Sum for true labels:

,p1,p2,pm,pg,cm,pmm,pmg,pgg,cmm,p4,p4m,p4g,p3,p3m1,p31m,p6,p6m
0,58900.0,58900.0,58900.0,58900.0,58900.0,58900.0,58900.0,58900.0,58900.0,58900.0,58900.0,58900.0,58900.0,58900.0,58900.0,58900.0,58900.0

Accuracy for these batches: 68.56%
Loading model from ../../../models/ResNet50/03132025-ResNet50-benchmark-500k/epoch_400.pth
Confusion Matrix for 03132025-ResNet50-benchmark-500k:

100%|█████████████████████████████████████████████████████████████████████████████████| 287/287 [12:19<00:00,  2.58s/it]

Sum for true labels:

,p1,p2,pm,pg,cm,pmm,pmg,pgg,cmm,p4,p4m,p4g,p3,p3m1,p31m,p6,p6m
0,58900.0,58900.0,58900.0,58900.0,58900.0,58900.0,58900.0,58900.0,58900.0,58900.0,58900.0,58900.0,58900.0,58900.0,58900.0,58900.0,58900.0

Accuracy for these batches: 70.54%

100%|█████████████████████████████████████████████████████████████████████████████████| 287/287 [12:20<00:00,  2.58s/it]

Sum for true labels:

,p1,p2,pm,pg,cm,pmm,pmg,pgg,cmm,p4,p4m,p4g,p3,p3m1,p31m,p6,p6m
0,58900.0,58900.0,58900.0,58900.0,58900.0,58900.0,58900.0,58900.0,58900.0,58900.0,58900.0,58900.0,58900.0,58900.0,58900.0,58900.0,58900.0

Accuracy for these batches: 88.54%
Loading model from ../../../models/ResNet50/03132025-ResNet50-benchmark-1m/epoch_185-valid:loss=0.07,acc=0.98.pth
Confusion Matrix for 03132025-ResNet50-benchmark-1m:

100%|█████████████████████████████████████████████████████████████████████████████████| 287/287 [12:34<00:00,  2.63s/it]

Sum for true labels:

,p1,p2,pm,pg,cm,pmm,pmg,pgg,cmm,p4,p4m,p4g,p3,p3m1,p31m,p6,p6m
0,58900.0,58900.0,58900.0,58900.0,58900.0,58900.0,58900.0,58900.0,58900.0,58900.0,58900.0,58900.0,58900.0,58900.0,58900.0,58900.0,58900.0

Accuracy for these batches: 74.56%

100%|█████████████████████████████████████████████████████████████████████████████████| 287/287 [12:34<00:00,  2.63s/it]

Sum for true labels:

,p1,p2,pm,pg,cm,pmm,pmg,pgg,cmm,p4,p4m,p4g,p3,p3m1,p31m,p6,p6m
0,58900.0,58900.0,58900.0,58900.0,58900.0,58900.0,58900.0,58900.0,58900.0,58900.0,58900.0,58900.0,58900.0,58900.0,58900.0,58900.0,58900.0

Accuracy for these batches: 93.84%
Loading model from ../../../models/ResNet50/03132025-ResNet50-benchmark-2m/epoch_100.pth
Confusion Matrix for 03132025-ResNet50-benchmark-2m:

100%|█████████████████████████████████████████████████████████████████████████████████| 287/287 [12:20<00:00,  2.58s/it]

Sum for true labels:

,p1,p2,pm,pg,cm,pmm,pmg,pgg,cmm,p4,p4m,p4g,p3,p3m1,p31m,p6,p6m
0,58900.0,58900.0,58900.0,58900.0,58900.0,58900.0,58900.0,58900.0,58900.0,58900.0,58900.0,58900.0,58900.0,58900.0,58900.0,58900.0,58900.0

Accuracy for these batches: 79.09%

100%|█████████████████████████████████████████████████████████████████████████████████| 287/287 [12:31<00:00,  2.62s/it]

Sum for true labels:

,p1,p2,pm,pg,cm,pmm,pmg,pgg,cmm,p4,p4m,p4g,p3,p3m1,p31m,p6,p6m
0,58900.0,58900.0,58900.0,58900.0,58900.0,58900.0,58900.0,58900.0,58900.0,58900.0,58900.0,58900.0,58900.0,58900.0,58900.0,58900.0,58900.0

Accuracy for these batches: 94.83%
Loading model from ../../../models/ResNet50/03132025-ResNet50-benchmark-5m/epoch_40.pth
Confusion Matrix for 03132025-ResNet50-benchmark-5m:

100%|█████████████████████████████████████████████████████████████████████████████████| 287/287 [12:40<00:00,  2.65s/it]

Sum for true labels:

,p1,p2,pm,pg,cm,pmm,pmg,pgg,cmm,p4,p4m,p4g,p3,p3m1,p31m,p6,p6m
0,58900.0,58900.0,58900.0,58900.0,58900.0,58900.0,58900.0,58900.0,58900.0,58900.0,58900.0,58900.0,58900.0,58900.0,58900.0,58900.0,58900.0

Accuracy for these batches: 86.92%

100%|█████████████████████████████████████████████████████████████████████████████████| 287/287 [12:32<00:00,  2.62s/it]

Sum for true labels:

,p1,p2,pm,pg,cm,pmm,pmg,pgg,cmm,p4,p4m,p4g,p3,p3m1,p31m,p6,p6m
0,58900.0,58900.0,58900.0,58900.0,58900.0,58900.0,58900.0,58900.0,58900.0,58900.0,58900.0,58900.0,58900.0,58900.0,58900.0,58900.0,58900.0

Accuracy for these batches: 96.16%

In [4]:
stats

{'03132025-ResNet50-benchmark-10m': {'03132025-ResNet50-benchmark-10m-atom_cv': 0.8837681014680915,
  '03132025-ResNet50-benchmark-10m-noise_cv': 0.9619464695895336},
 '03132025-ResNet50-benchmark-1k': {'03132025-ResNet50-benchmark-1k-atom_cv': 0.10467791870568262,
  '03132025-ResNet50-benchmark-1k-noise_cv': 0.08680115849395785},
 '03132025-ResNet50-benchmark-5k': {'03132025-ResNet50-benchmark-5k-atom_cv': 0.3531469090182762,
  '03132025-ResNet50-benchmark-5k-noise_cv': 0.3523000099870169},
 '03132025-ResNet50-benchmark-10k': {'03132025-ResNet50-benchmark-10k-atom_cv': 0.40702786377708977,
  '03132025-ResNet50-benchmark-10k-noise_cv': 0.3758064516129032},
 '03132025-ResNet50-benchmark-50k': {'03132025-ResNet50-benchmark-50k-atom_cv': 0.38722161190452414,
  '03132025-ResNet50-benchmark-50k-noise_cv': 0.5916848097473285},
 '03132025-ResNet50-benchmark-100k': {'03132025-ResNet50-benchmark-100k-atom_cv': 0.43859083191850595,
  '03132025-ResNet50-benchmark-100k-noise_cv': 0.6855597722960152},
 '03132025-ResNet50-benchmark-500k': {'03132025-ResNet50-benchmark-500k-atom_cv': 0.7054149605512833,
  '03132025-ResNet50-benchmark-500k-noise_cv': 0.8853989813242784},
 '03132025-ResNet50-benchmark-1m': {'03132025-ResNet50-benchmark-1m-atom_cv': 0.7456196943972835,
  '03132025-ResNet50-benchmark-1m-noise_cv': 0.9384420253670229},
 '03132025-ResNet50-benchmark-2m': {'03132025-ResNet50-benchmark-2m-atom_cv': 0.790941775691601,
  '03132025-ResNet50-benchmark-2m-noise_cv': 0.9483421551982423},
 '03132025-ResNet50-benchmark-5m': {'03132025-ResNet50-benchmark-5m-atom_cv': 0.86920802956157,
  '03132025-ResNet50-benchmark-5m-noise_cv': 0.9615709577549186}}

In [5]:
stats

{'03132025-ResNet50-benchmark-10m': {'03132025-ResNet50-benchmark-10m-atom_cv': 0.8837681014680915,
  '03132025-ResNet50-benchmark-10m-noise_cv': 0.9619464695895336},
 '03132025-ResNet50-benchmark-1k': {'03132025-ResNet50-benchmark-1k-atom_cv': 0.10467791870568262,
  '03132025-ResNet50-benchmark-1k-noise_cv': 0.08680115849395785},
 '03132025-ResNet50-benchmark-5k': {'03132025-ResNet50-benchmark-5k-atom_cv': 0.3531469090182762,
  '03132025-ResNet50-benchmark-5k-noise_cv': 0.3523000099870169},
 '03132025-ResNet50-benchmark-10k': {'03132025-ResNet50-benchmark-10k-atom_cv': 0.40702786377708977,
  '03132025-ResNet50-benchmark-10k-noise_cv': 0.3758064516129032},
 '03132025-ResNet50-benchmark-50k': {'03132025-ResNet50-benchmark-50k-atom_cv': 0.38722161190452414,
  '03132025-ResNet50-benchmark-50k-noise_cv': 0.5916848097473285},
 '03132025-ResNet50-benchmark-100k': {'03132025-ResNet50-benchmark-100k-atom_cv': 0.43859083191850595,
  '03132025-ResNet50-benchmark-100k-noise_cv': 0.6855597722960152},
 '03132025-ResNet50-benchmark-500k': {'03132025-ResNet50-benchmark-500k-atom_cv': 0.7054149605512833,
  '03132025-ResNet50-benchmark-500k-noise_cv': 0.8853989813242784},
 '03132025-ResNet50-benchmark-1m': {'03132025-ResNet50-benchmark-1m-atom_cv': 0.7456196943972835,
  '03132025-ResNet50-benchmark-1m-noise_cv': 0.9384420253670229},
 '03132025-ResNet50-benchmark-2m': {'03132025-ResNet50-benchmark-2m-atom_cv': 0.790941775691601,
  '03132025-ResNet50-benchmark-2m-noise_cv': 0.9483421551982423},
 '03132025-ResNet50-benchmark-5m': {'03132025-ResNet50-benchmark-5m-atom_cv': 0.86920802956157,
  '03132025-ResNet50-benchmark-5m-noise_cv': 0.9615709577549186}}

In [6]:
import pandas as pd
df = pd.read_csv('../../../results/history/training_summary_latest.csv')
df

,Name,Model,Dataset_size,train_loss,valid_loss,train_accuracy,valid_accuracy,noise_accuracy,noise_loss,atom_accuracy,atom_loss
0,ResNet50-1k,ResNet50,1000,0.024114,8.707681,0.990000,0.228000,0.079000,9.710158,0.124000,9.607305
1,ResNet50-5k,ResNet50,5000,0.026530,3.826476,0.990600,0.552800,0.359200,4.911996,0.359400,7.174067
2,ResNet50-10k,ResNet50,10000,0.028572,3.448092,0.990300,0.598800,0.368700,4.815066,0.414900,6.321324
3,ResNet50-50k,ResNet50,50000,0.027217,1.041223,0.990240,0.869840,0.588840,3.003041,0.388060,7.584784
4,ResNet50-100k,ResNet50,100000,0.136364,1.518383,0.958889,0.633200,0.114340,4.077415,0.393780,3.548233
5,ResNet50-500k,ResNet50,500000,0.030453,0.143844,0.989220,0.975808,0.885926,0.899102,0.703082,3.702238
6,ResNet50-1m,ResNet50,1000000,0.030649,0.090277,0.989165,0.982200,0.938441,0.486521,0.745000,3.324254
7,ResNet50-2m,ResNet50,2000000,0.044772,0.053977,0.985556,0.982848,0.940066,0.264464,0.780175,1.657540
8,ResNet50-5m,ResNet50,5000000,0.011643,0.020937,0.997277,0.994947,0.935147,0.273390,0.842422,1.183674
9,ResNet50-10m,ResNet50,10000000,0.037016,0.036806,0.986667,0.986712,0.961947,0.134230,0.883770,0.979830
10,FPN-1k,FPN,1000,0.000846,8.795190,1.000000,0.106977,0.062343,9.942680,0.069275,9.231884
11,FPN-10k,FPN,10000,0.000305,3.226845,0.999883,0.565096,0.142520,5.737493,0.413529,4.249386
12,FPN-100k,FPN,100000,0.001644,0.560978,0.999463,0.918445,0.434716,3.234451,0.557819,4.122468
13,FPN-500k,FPN,500000,0.002160,0.108319,0.999243,0.985995,0.868971,0.766391,0.665324,3.550172
14,FPN-1m,FPN,1000000,0.002628,0.069037,0.999097,0.991460,0.922578,0.497664,0.774495,2.273154
15,FPN-2m,FPN,2000000,0.008375,0.042212,0.997823,0.992023,0.928784,0.342222,0.769868,1.915271
16,FPN-5m,FPN,5000000,0.006962,0.020497,0.997817,0.995589,0.953284,0.237720,0.813172,1.737271
17,FPN-10m,FPN,10000000,0.031929,0.039577,0.988320,0.986798,0.965398,0.196351,0.851656,1.532832
18,XCiT-1k,XCiT,1000,0.000147,13.923977,1.000000,0.074419,0.056392,14.736371,0.052098,13.509289
19,XCiT-5k,XCiT,5000,0.037746,5.230759,0.987500,0.400000,0.094000,8.100603,0.157800,9.087003
20,XCiT-10k,XCiT,10000,0.076306,2.892839,0.980000,0.564400,0.092100,6.928162,0.225100,7.809256
21,XCiT-50k,XCiT,50000,0.045721,0.259100,0.990000,0.951120,0.776700,1.296565,0.691180,2.506906
22,XCiT-100k,XCiT,100000,0.001598,0.267760,0.999370,0.963727,0.718510,2.094841,0.659725,3.522698
23,XCiT-500k,XCiT,500000,0.002475,0.060843,0.999119,0.993102,0.944157,0.361368,0.867804,1.774735
24,XCiT-1m,XCiT,1000000,0.002574,0.045677,0.999101,0.994453,0.954206,0.331412,0.886279,1.452604
25,XCiT-2m,XCiT,2000000,0.002518,0.036749,0.999116,0.995537,0.964333,0.244863,0.918108,1.043416
26,XCiT-5m,XCiT,5000000,0.005595,0.015812,0.998069,0.996476,0.960451,0.249501,0.909779,0.946104
27,XCiT-10m,XCiT,10000000,0.031414,0.035924,0.988421,0.987523,0.986168,0.088689,0.916877,0.906386

In [7]:
acc_update_dict = stats

# Helper to convert Dataset_size into suffix (1k, 5k, 1m, etc.)
def size_suffix(size):
    if size >= 1_000_000:
        return f"{int(size / 1_000_000)}m"
    elif size >= 1000:
        return f"{int(size / 1000)}k"
    else:
        return str(size)

# Update DataFrame
for i, row in df.iterrows():
    model_name = row['Model']
    size = size_suffix(row['Dataset_size'])
    dict_key = f"03132025-{model_name}-benchmark-{size}"
    
    if dict_key in acc_update_dict:
        atom_cv_key = f"{dict_key}-atom_cv"
        noise_cv_key = f"{dict_key}-noise_cv"
        df.at[i, 'atom_accuracy'] = acc_update_dict[dict_key].get(atom_cv_key, row['atom_accuracy'])
        df.at[i, 'noise_accuracy'] = acc_update_dict[dict_key].get(noise_cv_key, row['noise_accuracy'])

df.to_csv('../../../results/history/training_summary_latest_full_val_add.csv', index=False)

In [8]:
df

,Name,Model,Dataset_size,train_loss,valid_loss,train_accuracy,valid_accuracy,noise_accuracy,noise_loss,atom_accuracy,atom_loss
0,ResNet50-1k,ResNet50,1000,0.024114,8.707681,0.990000,0.228000,0.086801,9.710158,0.104678,9.607305
1,ResNet50-5k,ResNet50,5000,0.026530,3.826476,0.990600,0.552800,0.352300,4.911996,0.353147,7.174067
2,ResNet50-10k,ResNet50,10000,0.028572,3.448092,0.990300,0.598800,0.375806,4.815066,0.407028,6.321324
3,ResNet50-50k,ResNet50,50000,0.027217,1.041223,0.990240,0.869840,0.591685,3.003041,0.387222,7.584784
4,ResNet50-100k,ResNet50,100000,0.136364,1.518383,0.958889,0.633200,0.685560,4.077415,0.438591,3.548233
5,ResNet50-500k,ResNet50,500000,0.030453,0.143844,0.989220,0.975808,0.885399,0.899102,0.705415,3.702238
6,ResNet50-1m,ResNet50,1000000,0.030649,0.090277,0.989165,0.982200,0.938442,0.486521,0.745620,3.324254
7,ResNet50-2m,ResNet50,2000000,0.044772,0.053977,0.985556,0.982848,0.948342,0.264464,0.790942,1.657540
8,ResNet50-5m,ResNet50,5000000,0.011643,0.020937,0.997277,0.994947,0.961571,0.273390,0.869208,1.183674
9,ResNet50-10m,ResNet50,10000000,0.037016,0.036806,0.986667,0.986712,0.961946,0.134230,0.883768,0.979830
10,FPN-1k,FPN,1000,0.000846,8.795190,1.000000,0.106977,0.062343,9.942680,0.069275,9.231884
11,FPN-10k,FPN,10000,0.000305,3.226845,0.999883,0.565096,0.142520,5.737493,0.413529,4.249386
12,FPN-100k,FPN,100000,0.001644,0.560978,0.999463,0.918445,0.434716,3.234451,0.557819,4.122468
13,FPN-500k,FPN,500000,0.002160,0.108319,0.999243,0.985995,0.868971,0.766391,0.665324,3.550172
14,FPN-1m,FPN,1000000,0.002628,0.069037,0.999097,0.991460,0.922578,0.497664,0.774495,2.273154
15,FPN-2m,FPN,2000000,0.008375,0.042212,0.997823,0.992023,0.928784,0.342222,0.769868,1.915271
16,FPN-5m,FPN,5000000,0.006962,0.020497,0.997817,0.995589,0.953284,0.237720,0.813172,1.737271
17,FPN-10m,FPN,10000000,0.031929,0.039577,0.988320,0.986798,0.965398,0.196351,0.851656,1.532832
18,XCiT-1k,XCiT,1000,0.000147,13.923977,1.000000,0.074419,0.056392,14.736371,0.052098,13.509289
19,XCiT-5k,XCiT,5000,0.037746,5.230759,0.987500,0.400000,0.094000,8.100603,0.157800,9.087003
20,XCiT-10k,XCiT,10000,0.076306,2.892839,0.980000,0.564400,0.092100,6.928162,0.225100,7.809256
21,XCiT-50k,XCiT,50000,0.045721,0.259100,0.990000,0.951120,0.776700,1.296565,0.691180,2.506906
22,XCiT-100k,XCiT,100000,0.001598,0.267760,0.999370,0.963727,0.718510,2.094841,0.659725,3.522698
23,XCiT-500k,XCiT,500000,0.002475,0.060843,0.999119,0.993102,0.944157,0.361368,0.867804,1.774735
24,XCiT-1m,XCiT,1000000,0.002574,0.045677,0.999101,0.994453,0.954206,0.331412,0.886279,1.452604
25,XCiT-2m,XCiT,2000000,0.002518,0.036749,0.999116,0.995537,0.964333,0.244863,0.918108,1.043416
26,XCiT-5m,XCiT,5000000,0.005595,0.015812,0.998069,0.996476,0.960451,0.249501,0.909779,0.946104
27,XCiT-10m,XCiT,10000000,0.031414,0.035924,0.988421,0.987523,0.986168,0.088689,0.916877,0.906386

### 100k subset of the full set

In [3]:
model = resnet50_(3, 17)
stats = generate_confusion_matrix_batch_full_val_set(model, model_path_list, ds_size_list, ds_path_info, running_specs, subset_size=100000)

Running on cuda:5
Loading model from ../../../models/ResNet50/03132025-ResNet50-benchmark-10m/epoch_23.pth
Confusion Matrix for 03132025-ResNet50-benchmark-10m:

100%|███████████████████████████████████████████████████████████████████████████████████| 29/29 [01:19<00:00,  2.75s/it]

Sum for true labels:

,p1,p2,pm,pg,cm,pmm,pmg,pgg,cmm,p4,p4m,p4g,p3,p3m1,p31m,p6,p6m
0,5922.0,5936.0,5747.0,5910.0,5832.0,5821.0,5751.0,5984.0,5896.0,5867.0,5846.0,5923.0,5909.0,5814.0,5952.0,5888.0,6002.0

Accuracy for these batches: 88.32%

100%|███████████████████████████████████████████████████████████████████████████████████| 29/29 [01:22<00:00,  2.84s/it]

Sum for true labels:

,p1,p2,pm,pg,cm,pmm,pmg,pgg,cmm,p4,p4m,p4g,p3,p3m1,p31m,p6,p6m
0,5940.0,5774.0,5955.0,5828.0,5860.0,5874.0,6006.0,5785.0,5869.0,6010.0,5823.0,5797.0,5896.0,5916.0,5945.0,5894.0,5828.0

Accuracy for these batches: 96.18%
Loading model from ../../../models/ResNet50/03132025-ResNet50-benchmark-1k/epoch_200000.pth
Confusion Matrix for 03132025-ResNet50-benchmark-1k:

100%|███████████████████████████████████████████████████████████████████████████████████| 29/29 [01:18<00:00,  2.70s/it]

Sum for true labels:

,p1,p2,pm,pg,cm,pmm,pmg,pgg,cmm,p4,p4m,p4g,p3,p3m1,p31m,p6,p6m
0,5922.0,5936.0,5747.0,5910.0,5832.0,5821.0,5751.0,5984.0,5896.0,5867.0,5846.0,5923.0,5909.0,5814.0,5952.0,5888.0,6002.0

Accuracy for these batches: 10.63%

100%|███████████████████████████████████████████████████████████████████████████████████| 29/29 [01:20<00:00,  2.76s/it]

Sum for true labels:

,p1,p2,pm,pg,cm,pmm,pmg,pgg,cmm,p4,p4m,p4g,p3,p3m1,p31m,p6,p6m
0,5940.0,5774.0,5955.0,5828.0,5860.0,5874.0,6006.0,5785.0,5869.0,6010.0,5823.0,5797.0,5896.0,5916.0,5945.0,5894.0,5828.0

Accuracy for these batches: 8.65%
Loading model from ../../../models/ResNet50/03132025-ResNet50-benchmark-5k/epoch_40000.pth
Confusion Matrix for 03132025-ResNet50-benchmark-5k:

100%|███████████████████████████████████████████████████████████████████████████████████| 29/29 [01:17<00:00,  2.67s/it]

Sum for true labels:

,p1,p2,pm,pg,cm,pmm,pmg,pgg,cmm,p4,p4m,p4g,p3,p3m1,p31m,p6,p6m
0,5922.0,5936.0,5747.0,5910.0,5832.0,5821.0,5751.0,5984.0,5896.0,5867.0,5846.0,5923.0,5909.0,5814.0,5952.0,5888.0,6002.0

Accuracy for these batches: 35.63%

100%|███████████████████████████████████████████████████████████████████████████████████| 29/29 [01:17<00:00,  2.67s/it]

Sum for true labels:

,p1,p2,pm,pg,cm,pmm,pmg,pgg,cmm,p4,p4m,p4g,p3,p3m1,p31m,p6,p6m
0,5940.0,5774.0,5955.0,5828.0,5860.0,5874.0,6006.0,5785.0,5869.0,6010.0,5823.0,5797.0,5896.0,5916.0,5945.0,5894.0,5828.0

Accuracy for these batches: 35.23%
Loading model from ../../../models/ResNet50/03132025-ResNet50-benchmark-10k/epoch_15300.pth
Confusion Matrix for 03132025-ResNet50-benchmark-10k:

100%|███████████████████████████████████████████████████████████████████████████████████| 29/29 [01:17<00:00,  2.67s/it]

Sum for true labels:

,p1,p2,pm,pg,cm,pmm,pmg,pgg,cmm,p4,p4m,p4g,p3,p3m1,p31m,p6,p6m
0,5922.0,5936.0,5747.0,5910.0,5832.0,5821.0,5751.0,5984.0,5896.0,5867.0,5846.0,5923.0,5909.0,5814.0,5952.0,5888.0,6002.0

Accuracy for these batches: 40.77%

100%|███████████████████████████████████████████████████████████████████████████████████| 29/29 [01:17<00:00,  2.68s/it]

Sum for true labels:

,p1,p2,pm,pg,cm,pmm,pmg,pgg,cmm,p4,p4m,p4g,p3,p3m1,p31m,p6,p6m
0,5940.0,5774.0,5955.0,5828.0,5860.0,5874.0,6006.0,5785.0,5869.0,6010.0,5823.0,5797.0,5896.0,5916.0,5945.0,5894.0,5828.0

Accuracy for these batches: 37.66%
Loading model from ../../../models/ResNet50/03132025-ResNet50-benchmark-50k/epoch_4000.pth
Confusion Matrix for 03132025-ResNet50-benchmark-50k:

100%|███████████████████████████████████████████████████████████████████████████████████| 29/29 [01:17<00:00,  2.66s/it]

Sum for true labels:

,p1,p2,pm,pg,cm,pmm,pmg,pgg,cmm,p4,p4m,p4g,p3,p3m1,p31m,p6,p6m
0,5922.0,5936.0,5747.0,5910.0,5832.0,5821.0,5751.0,5984.0,5896.0,5867.0,5846.0,5923.0,5909.0,5814.0,5952.0,5888.0,6002.0

Accuracy for these batches: 38.75%

100%|███████████████████████████████████████████████████████████████████████████████████| 29/29 [01:17<00:00,  2.68s/it]

Sum for true labels:

,p1,p2,pm,pg,cm,pmm,pmg,pgg,cmm,p4,p4m,p4g,p3,p3m1,p31m,p6,p6m
0,5940.0,5774.0,5955.0,5828.0,5860.0,5874.0,6006.0,5785.0,5869.0,6010.0,5823.0,5797.0,5896.0,5916.0,5945.0,5894.0,5828.0

Accuracy for these batches: 59.03%
Loading model from ../../../models/ResNet50/03132025-ResNet50-benchmark-100k/epoch_1530.pth
Confusion Matrix for 03132025-ResNet50-benchmark-100k:

100%|███████████████████████████████████████████████████████████████████████████████████| 29/29 [01:17<00:00,  2.67s/it]

Sum for true labels:

,p1,p2,pm,pg,cm,pmm,pmg,pgg,cmm,p4,p4m,p4g,p3,p3m1,p31m,p6,p6m
0,5922.0,5936.0,5747.0,5910.0,5832.0,5821.0,5751.0,5984.0,5896.0,5867.0,5846.0,5923.0,5909.0,5814.0,5952.0,5888.0,6002.0

Accuracy for these batches: 43.93%

100%|███████████████████████████████████████████████████████████████████████████████████| 29/29 [01:17<00:00,  2.69s/it]

Sum for true labels:

,p1,p2,pm,pg,cm,pmm,pmg,pgg,cmm,p4,p4m,p4g,p3,p3m1,p31m,p6,p6m
0,5940.0,5774.0,5955.0,5828.0,5860.0,5874.0,6006.0,5785.0,5869.0,6010.0,5823.0,5797.0,5896.0,5916.0,5945.0,5894.0,5828.0

Accuracy for these batches: 68.67%
Loading model from ../../../models/ResNet50/03132025-ResNet50-benchmark-500k/epoch_400.pth
Confusion Matrix for 03132025-ResNet50-benchmark-500k:

100%|███████████████████████████████████████████████████████████████████████████████████| 29/29 [01:17<00:00,  2.66s/it]

Sum for true labels:

,p1,p2,pm,pg,cm,pmm,pmg,pgg,cmm,p4,p4m,p4g,p3,p3m1,p31m,p6,p6m
0,5922.0,5936.0,5747.0,5910.0,5832.0,5821.0,5751.0,5984.0,5896.0,5867.0,5846.0,5923.0,5909.0,5814.0,5952.0,5888.0,6002.0

Accuracy for these batches: 70.57%

100%|███████████████████████████████████████████████████████████████████████████████████| 29/29 [01:16<00:00,  2.65s/it]

Sum for true labels:

,p1,p2,pm,pg,cm,pmm,pmg,pgg,cmm,p4,p4m,p4g,p3,p3m1,p31m,p6,p6m
0,5940.0,5774.0,5955.0,5828.0,5860.0,5874.0,6006.0,5785.0,5869.0,6010.0,5823.0,5797.0,5896.0,5916.0,5945.0,5894.0,5828.0

Accuracy for these batches: 88.48%
Loading model from ../../../models/ResNet50/03132025-ResNet50-benchmark-1m/epoch_185-valid:loss=0.07,acc=0.98.pth
Confusion Matrix for 03132025-ResNet50-benchmark-1m:

100%|███████████████████████████████████████████████████████████████████████████████████| 29/29 [01:17<00:00,  2.66s/it]

Sum for true labels:

,p1,p2,pm,pg,cm,pmm,pmg,pgg,cmm,p4,p4m,p4g,p3,p3m1,p31m,p6,p6m
0,5922.0,5936.0,5747.0,5910.0,5832.0,5821.0,5751.0,5984.0,5896.0,5867.0,5846.0,5923.0,5909.0,5814.0,5952.0,5888.0,6002.0

Accuracy for these batches: 74.65%

100%|███████████████████████████████████████████████████████████████████████████████████| 29/29 [01:16<00:00,  2.65s/it]

Sum for true labels:

,p1,p2,pm,pg,cm,pmm,pmg,pgg,cmm,p4,p4m,p4g,p3,p3m1,p31m,p6,p6m
0,5940.0,5774.0,5955.0,5828.0,5860.0,5874.0,6006.0,5785.0,5869.0,6010.0,5823.0,5797.0,5896.0,5916.0,5945.0,5894.0,5828.0

Accuracy for these batches: 93.82%
Loading model from ../../../models/ResNet50/03132025-ResNet50-benchmark-2m/epoch_100.pth
Confusion Matrix for 03132025-ResNet50-benchmark-2m:

100%|███████████████████████████████████████████████████████████████████████████████████| 29/29 [01:16<00:00,  2.65s/it]

Sum for true labels:

,p1,p2,pm,pg,cm,pmm,pmg,pgg,cmm,p4,p4m,p4g,p3,p3m1,p31m,p6,p6m
0,5922.0,5936.0,5747.0,5910.0,5832.0,5821.0,5751.0,5984.0,5896.0,5867.0,5846.0,5923.0,5909.0,5814.0,5952.0,5888.0,6002.0

Accuracy for these batches: 79.05%

100%|███████████████████████████████████████████████████████████████████████████████████| 29/29 [01:16<00:00,  2.65s/it]

Sum for true labels:

,p1,p2,pm,pg,cm,pmm,pmg,pgg,cmm,p4,p4m,p4g,p3,p3m1,p31m,p6,p6m
0,5940.0,5774.0,5955.0,5828.0,5860.0,5874.0,6006.0,5785.0,5869.0,6010.0,5823.0,5797.0,5896.0,5916.0,5945.0,5894.0,5828.0

Accuracy for these batches: 94.90%
Loading model from ../../../models/ResNet50/03132025-ResNet50-benchmark-5m/epoch_40.pth
Confusion Matrix for 03132025-ResNet50-benchmark-5m:

100%|███████████████████████████████████████████████████████████████████████████████████| 29/29 [01:16<00:00,  2.65s/it]

Sum for true labels:

,p1,p2,pm,pg,cm,pmm,pmg,pgg,cmm,p4,p4m,p4g,p3,p3m1,p31m,p6,p6m
0,5922.0,5936.0,5747.0,5910.0,5832.0,5821.0,5751.0,5984.0,5896.0,5867.0,5846.0,5923.0,5909.0,5814.0,5952.0,5888.0,6002.0

Accuracy for these batches: 86.76%

100%|███████████████████████████████████████████████████████████████████████████████████| 29/29 [01:16<00:00,  2.64s/it]

Sum for true labels:

,p1,p2,pm,pg,cm,pmm,pmg,pgg,cmm,p4,p4m,p4g,p3,p3m1,p31m,p6,p6m
0,5940.0,5774.0,5955.0,5828.0,5860.0,5874.0,6006.0,5785.0,5869.0,6010.0,5823.0,5797.0,5896.0,5916.0,5945.0,5894.0,5828.0

Accuracy for these batches: 96.20%

In [4]:
import pandas as pd
df = pd.read_csv('../../../results/history/training_summary_latest.csv')
df

,Name,Model,Dataset_size,train_loss,valid_loss,train_accuracy,valid_accuracy,noise_accuracy,noise_loss,atom_accuracy,atom_loss
0,ResNet50-1k,ResNet50,1000,0.024114,8.707681,0.990000,0.228000,0.079000,9.710158,0.124000,9.607305
1,ResNet50-5k,ResNet50,5000,0.026530,3.826476,0.990600,0.552800,0.359200,4.911996,0.359400,7.174067
2,ResNet50-10k,ResNet50,10000,0.028572,3.448092,0.990300,0.598800,0.368700,4.815066,0.414900,6.321324
3,ResNet50-50k,ResNet50,50000,0.027217,1.041223,0.990240,0.869840,0.588840,3.003041,0.388060,7.584784
4,ResNet50-100k,ResNet50,100000,0.136364,1.518383,0.958889,0.633200,0.114340,4.077415,0.393780,3.548233
5,ResNet50-500k,ResNet50,500000,0.030453,0.143844,0.989220,0.975808,0.885926,0.899102,0.703082,3.702238
6,ResNet50-1m,ResNet50,1000000,0.030649,0.090277,0.989165,0.982200,0.938441,0.486521,0.745000,3.324254
7,ResNet50-2m,ResNet50,2000000,0.044772,0.053977,0.985556,0.982848,0.940066,0.264464,0.780175,1.657540
8,ResNet50-5m,ResNet50,5000000,0.011643,0.020937,0.997277,0.994947,0.935147,0.273390,0.842422,1.183674
9,ResNet50-10m,ResNet50,10000000,0.037016,0.036806,0.986667,0.986712,0.961947,0.134230,0.883770,0.979830
10,FPN-1k,FPN,1000,0.000846,8.795190,1.000000,0.106977,0.062343,9.942680,0.069275,9.231884
11,FPN-10k,FPN,10000,0.000305,3.226845,0.999883,0.565096,0.142520,5.737493,0.413529,4.249386
12,FPN-100k,FPN,100000,0.001644,0.560978,0.999463,0.918445,0.434716,3.234451,0.557819,4.122468
13,FPN-500k,FPN,500000,0.002160,0.108319,0.999243,0.985995,0.868971,0.766391,0.665324,3.550172
14,FPN-1m,FPN,1000000,0.002628,0.069037,0.999097,0.991460,0.922578,0.497664,0.774495,2.273154
15,FPN-2m,FPN,2000000,0.008375,0.042212,0.997823,0.992023,0.928784,0.342222,0.769868,1.915271
16,FPN-5m,FPN,5000000,0.006962,0.020497,0.997817,0.995589,0.953284,0.237720,0.813172,1.737271
17,FPN-10m,FPN,10000000,0.031929,0.039577,0.988320,0.986798,0.965398,0.196351,0.851656,1.532832
18,XCiT-1k,XCiT,1000,0.000147,13.923977,1.000000,0.074419,0.056392,14.736371,0.052098,13.509289
19,XCiT-5k,XCiT,5000,0.037746,5.230759,0.987500,0.400000,0.094000,8.100603,0.157800,9.087003
20,XCiT-10k,XCiT,10000,0.076306,2.892839,0.980000,0.564400,0.092100,6.928162,0.225100,7.809256
21,XCiT-50k,XCiT,50000,0.045721,0.259100,0.990000,0.951120,0.776700,1.296565,0.691180,2.506906
22,XCiT-100k,XCiT,100000,0.001598,0.267760,0.999370,0.963727,0.718510,2.094841,0.659725,3.522698
23,XCiT-500k,XCiT,500000,0.002475,0.060843,0.999119,0.993102,0.944157,0.361368,0.867804,1.774735
24,XCiT-1m,XCiT,1000000,0.002574,0.045677,0.999101,0.994453,0.954206,0.331412,0.886279,1.452604
25,XCiT-2m,XCiT,2000000,0.002518,0.036749,0.999116,0.995537,0.964333,0.244863,0.918108,1.043416
26,XCiT-5m,XCiT,5000000,0.005595,0.015812,0.998069,0.996476,0.960451,0.249501,0.909779,0.946104
27,XCiT-10m,XCiT,10000000,0.031414,0.035924,0.988421,0.987523,0.986168,0.088689,0.916877,0.906386

In [5]:
acc_update_dict = stats

# Helper to convert Dataset_size into suffix (1k, 5k, 1m, etc.)
def size_suffix(size):
    if size >= 1_000_000:
        return f"{int(size / 1_000_000)}m"
    elif size >= 1000:
        return f"{int(size / 1000)}k"
    else:
        return str(size)

# Update DataFrame
for i, row in df.iterrows():
    model_name = row['Model']
    size = size_suffix(row['Dataset_size'])
    dict_key = f"03132025-{model_name}-benchmark-{size}"
    
    if dict_key in acc_update_dict:
        atom_cv_key = f"{dict_key}-atom_cv"
        noise_cv_key = f"{dict_key}-noise_cv"
        df.at[i, 'atom_accuracy'] = acc_update_dict[dict_key].get(atom_cv_key, row['atom_accuracy'])
        df.at[i, 'noise_accuracy'] = acc_update_dict[dict_key].get(noise_cv_key, row['noise_accuracy'])

df.to_csv('../../../results/history/training_summary_latest_full_val_100k_subset.csv', index=False)
df

,Name,Model,Dataset_size,train_loss,valid_loss,train_accuracy,valid_accuracy,noise_accuracy,noise_loss,atom_accuracy,atom_loss
0,ResNet50-1k,ResNet50,1000,0.024114,8.707681,0.990000,0.228000,0.086520,9.710158,0.106310,9.607305
1,ResNet50-5k,ResNet50,5000,0.026530,3.826476,0.990600,0.552800,0.352330,4.911996,0.356290,7.174067
2,ResNet50-10k,ResNet50,10000,0.028572,3.448092,0.990300,0.598800,0.376620,4.815066,0.407660,6.321324
3,ResNet50-50k,ResNet50,50000,0.027217,1.041223,0.990240,0.869840,0.590300,3.003041,0.387540,7.584784
4,ResNet50-100k,ResNet50,100000,0.136364,1.518383,0.958889,0.633200,0.686660,4.077415,0.439280,3.548233
5,ResNet50-500k,ResNet50,500000,0.030453,0.143844,0.989220,0.975808,0.884770,0.899102,0.705720,3.702238
6,ResNet50-1m,ResNet50,1000000,0.030649,0.090277,0.989165,0.982200,0.938220,0.486521,0.746510,3.324254
7,ResNet50-2m,ResNet50,2000000,0.044772,0.053977,0.985556,0.982848,0.948980,0.264464,0.790490,1.657540
8,ResNet50-5m,ResNet50,5000000,0.011643,0.020937,0.997277,0.994947,0.961960,0.273390,0.867620,1.183674
9,ResNet50-10m,ResNet50,10000000,0.037016,0.036806,0.986667,0.986712,0.961820,0.134230,0.883190,0.979830
10,FPN-1k,FPN,1000,0.000846,8.795190,1.000000,0.106977,0.062343,9.942680,0.069275,9.231884
11,FPN-10k,FPN,10000,0.000305,3.226845,0.999883,0.565096,0.142520,5.737493,0.413529,4.249386
12,FPN-100k,FPN,100000,0.001644,0.560978,0.999463,0.918445,0.434716,3.234451,0.557819,4.122468
13,FPN-500k,FPN,500000,0.002160,0.108319,0.999243,0.985995,0.868971,0.766391,0.665324,3.550172
14,FPN-1m,FPN,1000000,0.002628,0.069037,0.999097,0.991460,0.922578,0.497664,0.774495,2.273154
15,FPN-2m,FPN,2000000,0.008375,0.042212,0.997823,0.992023,0.928784,0.342222,0.769868,1.915271
16,FPN-5m,FPN,5000000,0.006962,0.020497,0.997817,0.995589,0.953284,0.237720,0.813172,1.737271
17,FPN-10m,FPN,10000000,0.031929,0.039577,0.988320,0.986798,0.965398,0.196351,0.851656,1.532832
18,XCiT-1k,XCiT,1000,0.000147,13.923977,1.000000,0.074419,0.056392,14.736371,0.052098,13.509289
19,XCiT-5k,XCiT,5000,0.037746,5.230759,0.987500,0.400000,0.094000,8.100603,0.157800,9.087003
20,XCiT-10k,XCiT,10000,0.076306,2.892839,0.980000,0.564400,0.092100,6.928162,0.225100,7.809256
21,XCiT-50k,XCiT,50000,0.045721,0.259100,0.990000,0.951120,0.776700,1.296565,0.691180,2.506906
22,XCiT-100k,XCiT,100000,0.001598,0.267760,0.999370,0.963727,0.718510,2.094841,0.659725,3.522698
23,XCiT-500k,XCiT,500000,0.002475,0.060843,0.999119,0.993102,0.944157,0.361368,0.867804,1.774735
24,XCiT-1m,XCiT,1000000,0.002574,0.045677,0.999101,0.994453,0.954206,0.331412,0.886279,1.452604
25,XCiT-2m,XCiT,2000000,0.002518,0.036749,0.999116,0.995537,0.964333,0.244863,0.918108,1.043416
26,XCiT-5m,XCiT,5000000,0.005595,0.015812,0.998069,0.996476,0.960451,0.249501,0.909779,0.946104
27,XCiT-10m,XCiT,10000000,0.031414,0.035924,0.988421,0.987523,0.986168,0.088689,0.916877,0.906386